//colors
$background: #e9eff3;
$primary-100: #10618d;
$primary-50: #008DDA;
$primary-30: #41C9E2;
$primary-20: #ACE2E1;
$primary-10: #e0ebeb;

$danger: #dc3545;
$success: #28a745;
$light: #F8F9FA;

$grey-10: #8d8a8a;

// //margins
// $xxs: 4px;
// $xs: 8px;
// $sm: 12px;
// $md: 16px;
// $lg: 18px;
// $xl: 20px;
// $xxl: 24px;


//borders
$border-radius-1: 15px;

$max-width: 1600px;
$navbar-height-lg: 70px;


// margins & paddings from 1-25 & the custom
$max-margin : 25;
$custom-margins: 30, 40, 50;

//layouts
$spacings: 5, 10, 15, 25, 40, 45, 50;