@import "../../../styles/variables";

.row {
    display: flex;
    flex-flow: row wrap;
}

.noWrap{
    flex-flow: row nowrap;

}
@each $gap in $spacings {
    .col-gap-#{$gap} {
        column-gap: $gap * 1px;
    }
    .row-gap-#{$gap} {
        row-gap: $gap * 1px;
    }
}